.thewordTitle {
  color: black;
}

.thewordTitle a:link {
  color: black;
}

.thewordTitle a:visited {
  color: black;
}

.thewordTitle a:hover {
  color: black;
}

.thewordTitle:active {
  color: black;
}

.wrapper {
  display: inline-block;
}
